@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background: #161623;
}

.container{
    display: flex;
}

.card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px 40px;
    box-shadow: 20px 20px 50px rgba($color: #000, $alpha: .5);
    background: rgba($color: #fff, $alpha: .1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top: 1px solid rgba($color: #fff, $alpha: .5);
    border-left: 1px solid rgba($color: #fff, $alpha: .5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    &:hover{
        .content{  
            cursor: pointer;          
            opacity: 1;
            transform: translateY(0);
        }
    }
    .content{
        padding: 20px;
        text-align: center;  
        transform: translateY(100px);
        opacity: 0;     
        transition: .5s;
             
        .number{
            position: absolute;
            top: -80px;
            right: 20px;
            font-size: 8em;
            font-weight: 900;
            color: rgba($color: #fff, $alpha: .1);
            pointer-events: none;
        }
        .title{
            font-size: 1.8em;
            color: #fff;
            z-index: 1;
        }
        .text{
            font-size: 1em;
            color:#fff;
            font-weight: 300;
        }
        .button{
            display: inline-block;
            background: #fff;
            text-decoration: none;
            color: #000;
            padding: 8px 20px;
            margin-top: 10px;
            border-radius: 20px;
            font-weight: 500;
        }
    }
}