@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.pageLogin{
    overflow: hidden;
}
.secLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);    
    .color{
        position: absolute;
        filter: blur(150px);
        &:nth-child(1){
            width: 600px;
            height: 600px;
            top: -350px;            
            background: #ff359b;
        }
        &:nth-child(2){
            width: 500px;
            height: 500px;
            left: 100px;
            bottom: -150px;
            background: #fffd87;
        }
        &:nth-child(3){
            width: 300px;
            height: 300px;
            right: 100px;
            bottom: 50px;
            background: #00d2ff;
        }
    }
}

.wrapLogin{
    position: relative;
    .square{
        position: absolute;
        background: rgba($color: #fff, $alpha: 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid rgba($color: #fff, $alpha: 0.5);
        border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
        border-radius: 100%;
        box-shadow: 0 25px 45px rgba($color: #000, $alpha: 0.1);
        animation: squareMoveLogin 10s linear infinite;
        animation-delay: calc(-1s * var(--i));
        &:nth-child(1){
            width: 100px;
            height: 100px;
            top: -60px;
            right: -60px;
        }
        &:nth-child(2){
            width: 100px;
            height: 100px;
            top: 160px;
            left: -80px;
            z-index: 2;
        }
        &:nth-child(3){
            width: 80px;
            height: 80px;
            bottom: 50px;
            right: -60px;
            z-index: 2;
        }
        &:nth-child(4){
            width: 50px;
            height: 50px;
            bottom: -80px;
            left: 100px;
        }
        &:nth-child(5){
            width: 60px;
            height: 60px;
            top: -80px;
            left: 140px;
        }
    }
}

@keyframes squareMoveLogin{
    0%,100%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(-40px);
    }
}

.wrapForm{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    min-height: 400px;
    background: rgba($color: #fff, $alpha: 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    border-radius: 4px;
    box-shadow: 0 25px 45px rgba($color: #000, $alpha: 0.1);
    form{
        width: 100%;
        height: 100%;
        padding: 40px;
        .formRow{
            margin-bottom: 15px;
            input{
                width: 100%;
                border: 1px solid rgba($color: #fff, $alpha: 0.5);
                border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
                outline: none;
                background: rgba($color: #fff, $alpha: 0.2);
                padding: 10px 20px;
                border-radius: 35px;
                font-size: 16px;
                letter-spacing: 1px;
                color: #fff;
                box-shadow: 0 5px 15px rgba($color: #000, $alpha: 0.05);
                &::placeholder{
                    color: #fff;
                }
            }
            input[type=submit]{
                width: auto;
                background: #fff;
                color: #666;
                font-weight: 600;
                margin-bottom: 15px;
                &:hover{
                    cursor: pointer;
                    background: #ff359b;
                    color: #fff;
                    transition: all .3s linear;
                }
            }
            .formText{
                color: #fff;
                a{
                    color: #fff;
                    font-weight: 600;
                    text-decoration: none;
                    &:hover{
                        color: #ff359b;
                        transition: color .5s linear;
                    }
                }
            }
        }
        .formTitle{
            color: #fff;
            position: relative;
            margin-bottom: 30px;
            &::after{
                content: '';
                display: block;
                height: 4px;
                width: 80px;
                left: 0;
                background: #fff;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }
}
