@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.pageLogin {
  overflow: hidden;
}

.secLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f4f9), to(#dff1ff));
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

.secLogin .color {
  position: absolute;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.secLogin .color:nth-child(1) {
  width: 600px;
  height: 600px;
  top: -350px;
  background: #ff359b;
}

.secLogin .color:nth-child(2) {
  width: 500px;
  height: 500px;
  left: 100px;
  bottom: -150px;
  background: #fffd87;
}

.secLogin .color:nth-child(3) {
  width: 300px;
  height: 300px;
  right: 100px;
  bottom: 50px;
  background: #00d2ff;
}

.wrapLogin {
  position: relative;
}

.wrapLogin .square {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  -webkit-animation: squareMoveLogin 10s linear infinite;
          animation: squareMoveLogin 10s linear infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
          animation-delay: calc(-1s * var(--i));
}

.wrapLogin .square:nth-child(1) {
  width: 100px;
  height: 100px;
  top: -60px;
  right: -60px;
}

.wrapLogin .square:nth-child(2) {
  width: 100px;
  height: 100px;
  top: 160px;
  left: -80px;
  z-index: 2;
}

.wrapLogin .square:nth-child(3) {
  width: 80px;
  height: 80px;
  bottom: 50px;
  right: -60px;
  z-index: 2;
}

.wrapLogin .square:nth-child(4) {
  width: 50px;
  height: 50px;
  bottom: -80px;
  left: 100px;
}

.wrapLogin .square:nth-child(5) {
  width: 60px;
  height: 60px;
  top: -80px;
  left: 140px;
}

@-webkit-keyframes squareMoveLogin {
  0%, 100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@keyframes squareMoveLogin {
  0%, 100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  50% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

.wrapForm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  -webkit-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.wrapForm form {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.wrapForm form .formRow {
  margin-bottom: 15px;
}

.wrapForm form .formRow input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 35px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.wrapForm form .formRow input::-webkit-input-placeholder {
  color: #fff;
}

.wrapForm form .formRow input:-ms-input-placeholder {
  color: #fff;
}

.wrapForm form .formRow input::-ms-input-placeholder {
  color: #fff;
}

.wrapForm form .formRow input::placeholder {
  color: #fff;
}

.wrapForm form .formRow input[type=submit] {
  width: auto;
  background: #fff;
  color: #666;
  font-weight: 600;
  margin-bottom: 15px;
}

.wrapForm form .formRow input[type=submit]:hover {
  cursor: pointer;
  background: #ff359b;
  color: #fff;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.wrapForm form .formRow .formText {
  color: #fff;
}

.wrapForm form .formRow .formText a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.wrapForm form .formRow .formText a:hover {
  color: #ff359b;
  -webkit-transition: color .5s linear;
  transition: color .5s linear;
}

.wrapForm form .formTitle {
  color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.wrapForm form .formTitle::after {
  content: '';
  display: block;
  height: 4px;
  width: 80px;
  left: 0;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */