*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.effect{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px auto;
    span{        
        position: absolute;
        border-radius: 50%;
        border: 2px solid rgba($color: #fff, $alpha: 1);
        animation: square 5s linear infinite;
        animation-delay: calc(0.5s * var(--i));
    }
}
.effect:nth-child(2) {
    margin-left: 550px;
}
.effect:nth-child(2) span{
    background: greenyellow;
    border: none;
}

@keyframes square{
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        opacity: .5;        
    }
    100%{
        width: 500px;
        height: 500px;
        transform: rotateZ(360deg);
        opacity: 0;
    }
}